// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
// $fg-color: #{"@theme_fg_color"};
// $bg-color: #{"@theme_bg_color"};

$bg-color: #00000066;
$fg-color: #ffffffff;

window.Bar {
    background: $bg-color;
    color: $fg-color;
    font-size: 16px;
    border-bottom: #aaaaaa66 2px solid;
    border-radius: 8px;

    > centerbox {
        background: transparent;
        padding: 6px 12px;
    }

    label {
        font-family: "Noto Sans";
        font-weight: 500;
    }

    button {
        background: transparent;
        padding: 4px 8px;
        border-radius: 4px;
        transition: background 0.4s;

        &:hover {
            background: #ffffff44;
        }

        &:active {
            background: #ffffff66;
            transition: background 0.08s;
        }
    }
}
.notification {
    background: $bg-color;
    color: $fg-color;
    border: #aaaaaa66 2px solid;
    border-radius: 8px;
    padding: 12px;
    margin-bottom: 8px;
}